<form [formGroup]="createPostForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
  </div>

  <div class="form-group">
    <label for="shortDescription">Short Description</label>
    <input
      type="text"
      class="form-control"
      id="shortDescription"
      formControlName="shortDescription"
    />
    
  </div>

  
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      name=""
      class="form-control"
      id="description"
      cols="30"
      rows="10"
      formControlName="description"
    ></textarea>
    
  </div>

  

  <div>
    <label for="category">Category</label>
    <div ngbDropdown class="d-inline-block" class="form-group" >
  <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle >
    {{ selectedCategory ?? 'Select Category'}}
  </button>
  <div ngbDropdownMenu>
    <button *ngFor="let category of categories" ngbDropdownItem (click)="selectCategory(category)" type="button">{{category.CategoryName}}</button>
    <!-- <button ngbDropdownItem>CSS</button>
    <button ngbDropdownItem>JavaScript</button> -->
    </div>
    </div>
</div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input
      type="text"
      class="form-control"
      id="slug"
      formControlName="slug"
    />
  </div>

  <label >Schedule Date</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          formControlName="scheduleDate"
          ngbDatepicker
          #d="ngbDatepicker"
          [minDate]="todayDate"
        />
        <button
          class="btn btn-outline-secondary"
          (click)="d.toggle()"
          type="button"
        >
          <fa-icon [icon]="date"></fa-icon>
        </button>
      </div>
      <div class="form-group mt-2">
        <label for="typeahead-basic">Tags:</label>
    <input id="typeahead-basic" type="text" class="form-control" formControlName="tags" [ngbTypeahead]="search" [inputFormatter]="formatInput2" [resultFormatter]="formatInput2" #t (selectItem)="select2($event)" (keyup.enter)="select($event)" placeholder="Search or Enter new Tag.."/>
    <hr />
  </div>


      
  <button type="submit" class="btn btn-success m-2" [disabled]="createPostForm.status!=='VALID'">submit</button>
</form>
