<!-- <p>register-user works!</p> -->
<form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" formControlName="FirstName">
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" formControlName="LastName">
    </div>
    <div class="form-group">
        <label for="UserName">User Name</label>
        <input type="text" class="form-control" id="UserName" formControlName="UserName">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" formControlName="Email">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" formControlName="Password">
    </div>
    <div class="form-group">
        <label for="Password">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword">
    </div>
    <div class="form-group">
        <label for="Mobile">Mobile</label>
        <input type="text" class="form-control" id="Mobile" formControlName="Mobile">
    </div>
    <div class="form-group">
        <label for="Bio">Bio</label>
        <input type="text" class="form-control" id="Bio" formControlName="Bio">
    </div>
    <button type="submit" class="btn btn-success m-2" [disabled]="registrationForm.valid===false">
        submit
    </button>
</form>