<app-sidenav></app-sidenav>

<section style="min-height: 100vh;">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-9 col-md-8 jus ">
          <div class="row pt-md-5 mt-md-3 mb-5">
            <div class=" p-2">
              <!-- <app-toasts class='toast-container position-fixed top-0 end-0 p-3' style='z-index: 1200'></app-toasts> -->
              <app-toast></app-toast>
              <router-outlet ></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
