<div  class="row">
  <div class="col-lg-6" *ngFor="let blog of blogsData">
    <!-- Blog post-->
    <div class="card mb-4" >
      <a href="#!">
        <img
          class="card-img-top"
          src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
          alt="..."
        />
      </a>
      <div class="card-body">
        <div class="small text-muted">{{blog.publishedAt |  date:'longDate'}}</div>
        <h2 class="card-title h4">{{blog.title}}</h2>
        <p class="card-text">
          {{blog.shortDescription}}
        </p>
        <a class="btn btn-custom" routerLink="/viewblog">Read more →</a>
      </div>
    </div>  
  </div> 
</div>